.about-body {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 100vh;
  overflow: hidden;
}
.about-divider {
  color: white;
  background-color: white;
  font-size: 300px;
}
#about-title {
  color: var(--bs-body-color);
  font-size: calc(15px +2vmin);
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-bottom: 10vh;
}
#about-title::before,
#about-title::after {
  flex: 1;
  content: "";
  padding: 1.5px;
  background-color: var(--bs-body-color);
  margin: 20px;
  margin-right: 20px;
}
.about-skills {
  margin: 0 2vw;
}
.about-desc {
  margin: 40px 2vw;
}
a{
  text-decoration: none;
}
